

{% extends 'base.html.twig' %}

{% block title %}Menus de la semaine{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Les menus de la semaine</h1>
        <table class="table table-bordered, text-center">
            <thead class="table-primary">
                <tr>
                    <th>Jour</th>
                    {% set creneaux = ["P'tit d茅j", "D茅je没ner", "Go没ter", "D卯ner"] %}
                    {% for creneau in creneaux %}
                        <th>{{ creneau }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% set jours = {
                    1: "Lundi",
                    2: "Mardi",
                    3: "Mercredi",
                    4: "Jeudi",
                    5: "Vendredi",
                    6: "Samedi",
                    7: "Dimanche"
                } %}

                {% set correspondanceCreneaux = {
                    'petit_dejeuner': "P'tit d茅j",
                    'dejeuner': "D茅je没ner",
                    'gouter': "Go没ter",
                    'diner': "D卯ner"
                } %}
                
                {% for dayNumber, jour in jours %}
                    <tr>
                        <td class="fw-bold text-white bg-warning">{{ jour }}</td>
                        {% for creneau in creneaux %}
                            <td>
                                {% set repas_du_creneau = menus|filter(m =>
                                    m.mealDate|date('N') == dayNumber and
                                    correspondanceCreneaux[m.mealTime.value] == creneau
                                ) %}

                                {% if repas_du_creneau is not empty %}
                                    <ul class="list-unstyled small">
                                        {% for menu in repas_du_creneau %}
                                            {% for recipe in menu.recipes %}
                                                <li>
                                                     {{ recipe.name }}
                                                    {# <a href="{{ path('app_modifier_repas', { id: menu.id }) }}">
                                                        <i class="bi bi-pencil-square"></i>
                                                    </a> #}
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <a href="{{ path('app_ajouter_repas', { jour: jour, creneau: creneau }) }}" class="btn btn-outline-primary">
                                    <i class="bi bi-plus-circle"></i></a>
                            </td>
                        {% endfor %}
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
