{% extends 'base.html.twig' %}

{% block title %}Toutes mes recettes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des recettes</h1>

        <a href="{{ path('app_add_recipe') }}" class="btn btn-primary mb-3">
            Ajouter une nouvelle recette
        </a>

        {% if recipes is not empty %}
            <div class="row g-3">
                {% for recipe in recipes %}
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="ratio ratio-4x3">
                                {% if recipe.image is not empty %}
                                <img src="{{ asset('uploads/' ~ recipe.image) }}" alt="{{ recipe.name }}" class="img-fluid object-fit-cover rounded">
                                {% else %}
                                <img src="{{ asset('img/default-recipe.png') }}" alt="Image par défaut" class="img-fluid object-fit-cover rounded w-100" style="object-fit: cover; max-height: 400px;">
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-header">
                            {{ recipe.name }}
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_show_recipe', {id: recipe.id}) }}" class="btn btn-lg" title="Voir la recette"><i class="bi bi-eye-fill text-dark"></i></a>
                            <a href="{{ path('app_edit_recipe', {id: recipe.id}) }}" class="btn btn-lg" title="Modifier la recette"><i class="bi bi-pencil-fill text-dark"></i></a>
                            <a href="{{ path('app_delete_recipe', {id: recipe.id}) }}" class="btn btn-lg" title="Supprimer la recette"
                            onclick="return confirm('Es-tu sûr de vouloir supprimer cette recette ?');">
                            <i class="bi bi-trash text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucune recette pour le moment 😢</p>
        {% endif %}
    </div>
{% endblock %}
